/*----- @imports -----*/
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Emilys+Candy&family=Rye&family=Special+Elite&display=swap');

/* font-family: 'Bubblegum Sans', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Rye', cursive;
font-family: 'Special Elite', cursive; */


/*----- :root Variables -----*/
:root {
    --purpleDarken3: 106, 27, 154; /* #6A1B9A */
    --purpleDarken4: 74, 20, 140; /* #4A148C */
    --purpleAccent3: 213, 0, 249; /* #D500F9  */
    --purpleLighten1: 171, 71, 188; /* #AB47BC  */
    --indigoDarken4:26, 35, 126; /*1A237E */
    --orangeLighten2: 255, 183, 77; /* #FFB74D  */
    --black: 0, 0, 0; /* #000000 */
    --grey: 158, 158, 158; /* #9E9E9E */
    --greyDarken3: 66, 66, 66; /* #424242 */
    --white: 255, 255, 255; /* #FFFFFF */
    --fontDefault: Verdana, Geneva, Tahoma, sans-serif, serif, cursive;
    --radius8px: 0.5em;
}

/*----- Font Family classes -----*/

.font-bubblegum-sans {
    font-family: "Bubblegum Sans", var(--fontDefault);
}

.font-emilys-candy {
    font-family: "Emilys Candy", var(--fontDefault);
    letter-spacing: 1px;
}

.font-rye {
    font-family: "Rye", var(--fontDefault);
    letter-spacing: 1.25px;
}

.font-special {
    font-family: "Special Elite", var(--fontDefault);
}

.font-sm {
    font-size: small;
}

.font-md {
    font-size: medium;
}

.font-lg {
    font-size: large;
}

/*----- Global Settings -----*/
body {
    background-color: rgba(var(--white), 0.5);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
}

main {
    flex: 1 0 auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

.text-shadow-1 {
    text-shadow: 1px 1px 1px rgba(var(--black), 0.5);
}

/* --- Navbar --- */
.nav-wrapper {
    border-top: 2px solid rgba(var(--black), 1);
}

nav {
    position: fixed;
    top: 0;
    z-index: 50;
    background: linear-gradient(90deg, rgba(var(--purpleDarken3), 1) 0%,
                                rgba(var(--purpleDarken4), 1) 50%,
                                rgba(var(--purpleDarken3), 1) 100%);
}

nav .brand-logo {
    font-size: 2em;
    width: fit-content;
}

/* ul.sidenav {
    display: flex;
    flex-direction: column;
} */

/* ---- Forms ---- */
.container-register,
.container-login,
h3 {
    color: rgb(var(--indigoDarken4));
    font-family: 'Bubblegum Sans', cursive;
    margin-top: 164px;
    margin-bottom: 50px;
}

.flashes p {
    line-height: 2;
}

/*----- Footer -----*/
footer {
    font-size: 1.5em;
    line-height: 2em;
    padding-top: 1em;
}