{% extends "base.html" %}
{% block title %}Categories{% endblock %}
{% block content %}

<div class="container-categories font-special">
    <h4 class="indigo-text text-darken-4 center-align">You can edit categories below</h4>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large indigo darken-4 text-shadow">
                Add Category <i class="fas fa-paper-plane right"></i>
            </a>
        </div>
    </div>
    <div class="row">
        {% for category in categories %}
            <div class="col s12 m4">
                <div class="card text-shadow center-align">
                    <div class="card-image" id="card_img">
                        <img alt="img" class="responsive-img" src="{{ url_for('static', filename='images/milk.jpg') }}">
                    </div>
                    <div class="card-content indigo-text text-darken-4">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="card-action">
                        <div class="col m6 s6">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}"
                            id="edit" class="waves-effect waves-light btn-small col s12 m12">
                            <i class="far fa-edit left fa-sm"></i>Edit</a>
                        </div>
                        <div class="col m6 s6">
                            <a href="{{ url_for('delete_category', category_id=category._id) }}" 
                            id="delete" class="red waves-effect waves-light btn-small col s12 m12">
                        <i class="far fa-trash-alt left fa-sm"></i>Delete</a>
                        </div>
                    </div>
                </div>
                <!-- flash messages -->
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="indigo-text text-darken-4">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}