{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.title }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.description }}<br>
        {{ recipe.image_url }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.cook_time }}<br>
        {{ recipe.difficulty }}<br>
        {{ recipe.instructions }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.date_added }}<br>
        {{ recipe.user_name }}<br>
    {% endfor %}

{% endblock %}