{% extends 'base.html'%}
{% block title %}Categories{% endblock %}
{% block content %}

<!--Display choosen category, and the recipes in that category by it's name using the recipe's id using cards
To view the full recipe, the user has to click on the View recipe button-->
<div class="container-categories center">
    <div class="row">
        {% for recipe in recipes %}
        <div class="recipe-publish col m4 s12 font-special">
            <div class="card" id="recipe_card">
                <div class="card-image" id="img_recipe">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                    <img alt="img" class ="responsive-img" src="{{ recipe.img_url }}">
                    </a>
                </div>
                <div class="card-content font-emilys-candy">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">
                        <span class="card-title bold indigo-text text-darken-4 text-shadow-1" id="recipe_name">{{recipe.recipe_name}}</span>
                    </a>
                    <a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-pink purple-text text-darken-3"> View Recipe</a>
                </div>
                <div class="card-action indigo-text text-darken-4 text-shadow-1">
                    <h5>Category</h5>
                    <a href="{{ url_for('view_categories', category_name= recipe.category_name) }}"
                        class="orange-text text-lighten-2 text-shadow-1">{{recipe.category_name}}</a>
                </div>
            </div>
        </div>
        {% endfor %} 
    </div>
</div>
{% endblock %}